{% extends 'base.html' %}
{% block title %}Adding a candidate{% endblock %}

{% block content %}
<h3>You are adding a new candidate to the election</h3>
<form method="post" enctype="multipart/form-data">
    <table>
        {{ form }}
    </table>
    <br/>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary"><i class="fa-solid fa-plus"></i> Submit a candidate</button> <br/><br/>
    <a href="{% url 'home' %}" class="btn btn-secondary"><i class="fa-solid fa-house"></i> Home</a>
</form>

{% endblock %}