{% extends 'base.html' %}
{% block title %}Candidates{% endblock %}

{% block content %}
    <h3>Candidates you can cast your vote for: </h3><br>

{% for event in page_obj %}
    Nazwa wydarzenia: <b>{{ event.event_name|upper }}</b><br>
    {%for candidate in event.candidate.all %}
        <li>
            <b>{{candidate.first_name}} {{candidate.last_name}}</b>, {{candidate.party}}, {{candidate.age}} lat
        </li>
    {% endfor %}
    ...
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<a href="{% url 'add_candidate' %}" class="btn btn-primary"> Add a candidate </a><br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
{% endblock %}