{% extends 'base.html' %}
{% block title %}Candidates{% endblock %}
{% block content %}
    <h3>Candidates in our database </h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Imię</th>
          <th scope="col">Nazwisko</th>
          <th scope="col">Partia</th>
            <th scope="col">Wiek</th>
        </tr>
      </thead>
        <tbody>
            {% for candidate in candidates %}
            <tr>
                    <td>{{candidate.first_name}}</td>
                    <td>{{candidate.last_name}} </td>
                    <td> {{candidate.party}} </td>
                    <td> {{candidate.age}} </td>
            </tr>
            {% endfor %}
      </tbody>
    </table>
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a><br/><br/>
<a href="{% url 'add_candidate' %}" class="btn btn-primary"> Add a candidate </a><br/><br/>

<form action="/your-name/" method="post">
    <label for="party"> Partia </label>
    <input id="party" type="text" name="party" value="{{ candidate.party }}" maxlength="100">

    <label for="age"> Wiek </label>
    <input id="age" type="number" name="age" value="{{ candidate.age }}">
    <input type="submit" value="Filtruj">
</form>

<form method="get">
   {{myFilter.form}}
</form>

{% endblock %}
