{% extends 'base.html' %}
{% block title %}Pie Chart{% endblock %}

{% block content %}
  <div id="container" style="width: 75%;">
    <canvas id="pie_chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data}},
          backgroundColor: '#696969', '#808080', '#A9A9A9'],
          label: 'Political Party'
        }],
        labels: {{ labels}}
      },
      options: {
        responsive: true
      }
    };
    window.onload = function() {
      var ctx = document.getElementById('pie_chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
  <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>

{% endblock %}